<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<string>tag1</string>
		<key>title</key>
		<string>title1</string>
		<key>author</key>
		<string>author1</string>
		<key>text</key>
		<string>测试啊11很多很多字~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</string>
	</dict>
	<dict>
		<key>text</key>
		<string>text       2       2</string>
		<key>author</key>
		<string>author21</string>
		<key>title</key>
		<string>title2</string>
		<key>tag</key>
		<string>tag2</string>
	</dict>
</array>
</plist>
